@model UsuarioModel
@{
    ViewData["Title"] = "Deletar Usuário";
}

<div class="text-center">
    <h3>Realmente deseja deletar o usuário @(Model.Nome) ?</h3>
</div>

<a class="btn btn-primary btn-block" asp-action="Index" asp-controller="Usuario" role="button">Não Deletar</a>
<a class="btn btn-danger btn-block" asp-action="Deletar" asp-controller="Usuario" asp-route-id="@Model.Id" role="button">Deletar</a>